name: Build and Push to Dockerhub and deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/simple-express-app:latest
      - name: Verify Docker Image
        run: docker run --rm ${{ secrets.DOCKERHUB_USERNAME }}/simple-express-app:latest node -v

      # - name: Deploy to EC2 via SSH
      #   uses: appleboy/ssh-action@v0.1.9
      #   with:
      #     host: ${{ secrets.SSH_HOST }}
      #     username: ${{ secrets.SSH_USERNAME }}
      #     key: ${{ secrets.SSH_KEY }}
      #     script: |
      #       docker pull ${{ secrets.DOCKERHUB_USERNAME }}/simple-express-app:latest
      #       docker stop express-app || true
      #       docker rm express-app || true
      #       docker run -d --name express-app --restart unless-stopped -p 3000:3000 ${{ secrets.DOCKERHUB_USERNAME }}/2-simple-express-app:latest
